sola-application/glassfish/glassfish/domains/domain1/applications/sola-services-ear/sola-web-services_war/WEB-INF/classes/wsit-org.sola.services.boundary.ws.DigitalArchive.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="digitalarchive-service" targetNamespace="http%3A%2F%2Fwebservices.sola.org%2Fdigitalarchive" xmlns:tns="http%3A%2F%2Fwebservices.sola.org%2Fdigitalarchive" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1="http://www.w3.org/ns/ws-policy" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="CheckConnection"/>
    <message name="CheckConnectionResponse"/>
    <message name="GetDocument"/>
    <message name="GetDocumentResponse"/>
    <message name="SOLAFault"/>
    <message name="UnhandledFault"/>
    <message name="SOLAAccessFault"/>
    <message name="SaveDocument"/>
    <message name="SaveDocumentResponse"/>
    <message name="OptimisticLockingFault"/>
    <message name="CreateDocument"/>
    <message name="CreateDocumentResponse"/>
    <message name="CreateDocumentFromServer"/>
    <message name="CreateDocumentFromServerResponse"/>
    <message name="GetFileBinary"/>
    <message name="GetFileBinaryResponse"/>
    <message name="GetFileThumbnail"/>
    <message name="GetFileThumbnailResponse"/>
    <message name="GetAllFiles"/>
    <message name="GetAllFilesResponse"/>
    <message name="DeleteFile"/>
    <message name="DeleteFileResponse"/>
    <portType name="DigitalArchive">
        <operation name="CheckConnection">
            <input message="tns:CheckConnection"/>
            <output message="tns:CheckConnectionResponse"/>
        </operation>
        <operation name="GetDocument">
            <input message="tns:GetDocument"/>
            <output message="tns:GetDocumentResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="SaveDocument">
            <input message="tns:SaveDocument"/>
            <output message="tns:SaveDocumentResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="CreateDocument">
            <input message="tns:CreateDocument"/>
            <output message="tns:CreateDocumentResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="CreateDocumentFromServer">
            <input message="tns:CreateDocumentFromServer"/>
            <output message="tns:CreateDocumentFromServerResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetFileBinary">
            <input message="tns:GetFileBinary"/>
            <output message="tns:GetFileBinaryResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetFileThumbnail">
            <input message="tns:GetFileThumbnail"/>
            <output message="tns:GetFileThumbnailResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetAllFiles">
            <input message="tns:GetAllFiles"/>
            <output message="tns:GetAllFilesResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="DeleteFile">
            <input message="tns:DeleteFile"/>
            <output message="tns:DeleteFileResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
    </portType>
    <binding name="DigitalArchivePortBinding" type="tns:DigitalArchive">
        <wsp:PolicyReference URI="#DigitalArchivePortBindingPolicy"/>
        <operation name="CheckConnection">
            <input>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetDocument">
            <input>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="SaveDocument">
            <input>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="CreateDocument">
            <input>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="CreateDocumentFromServer">
            <input>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetFileBinary">
            <input>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetFileThumbnail">
            <input>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetAllFiles">
            <input>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="DeleteFile">
            <input>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DigitalArchivePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
    </binding>
    <service name="digitalarchive-service">
        <port name="DigitalArchivePort" binding="tns:DigitalArchivePortBinding"/>
    </service>
    <wsp:Policy wsu:Id="DigitalArchivePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="false"/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedSupportingTokens>
               <sc:KeyStore wspp:visibility="private" location="keystore.jks" type="JKS" storepass="changeit" alias="xws-security-server"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="DigitalArchivePortBinding_CheckConnection_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="CreateSequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="DigitalArchivePortBinding_CheckConnection_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="CreateSequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
