sola-application/glassfish/glassfish/domains/domain1/applications/sola-services-ear/sola-web-services_war/WEB-INF/classes/META-INF/wsit-org.sola.services.boundary.ws.BulkOperations.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="bulkoperations-service" targetNamespace="http%3A%2F%2Fwebservices.sola.org%2Fbulkoperations" xmlns:tns="http%3A%2F%2Fwebservices.sola.org%2Fbulkoperations" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1="http://www.w3.org/ns/ws-policy" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="CheckConnection"/>
    <message name="CheckConnectionResponse"/>
    <message name="RejectTransaction"/>
    <message name="RejectTransactionResponse"/>
    <message name="SOLAValidationFault"/>
    <message name="OptimisticLockingFault"/>
    <message name="SOLAFault"/>
    <message name="UnhandledFault"/>
    <message name="SOLAAccessFault"/>
    <message name="GetTransactionBulkOperationSpatial"/>
    <message name="GetTransactionBulkOperationSpatialResponse"/>
    <message name="SaveTransactionBulkOperationSpatial"/>
    <message name="SaveTransactionBulkOperationSpatialResponse"/>
    <message name="SaveTransactionBulkOperationSource"/>
    <message name="SaveTransactionBulkOperationSourceResponse"/>
    <portType name="BulkOperations">
        <operation name="CheckConnection">
            <input message="tns:CheckConnection"/>
            <output message="tns:CheckConnectionResponse"/>
        </operation>
        <operation name="RejectTransaction">
            <input message="tns:RejectTransaction"/>
            <output message="tns:RejectTransactionResponse"/>
            <fault name="SOLAValidationFault" message="tns:SOLAValidationFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetTransactionBulkOperationSpatial">
            <input message="tns:GetTransactionBulkOperationSpatial"/>
            <output message="tns:GetTransactionBulkOperationSpatialResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="SaveTransactionBulkOperationSpatial">
            <input message="tns:SaveTransactionBulkOperationSpatial"/>
            <output message="tns:SaveTransactionBulkOperationSpatialResponse"/>
            <fault name="SOLAValidationFault" message="tns:SOLAValidationFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="SaveTransactionBulkOperationSource">
            <input message="tns:SaveTransactionBulkOperationSource"/>
            <output message="tns:SaveTransactionBulkOperationSourceResponse"/>
            <fault name="SOLAValidationFault" message="tns:SOLAValidationFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
    </portType>
    <binding name="BulkOperationsPortBinding" type="tns:BulkOperations">
        <wsp:PolicyReference URI="#BulkOperationsPortBindingPolicy"/>
        <operation name="CheckConnection">
            <input>
                <wsp:PolicyReference URI="#BulkOperationsPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#BulkOperationsPortBinding_CheckConnection_Output_Policy"/>
            </output>
        </operation>
        <operation name="RejectTransaction">
            <input>
                <wsp:PolicyReference URI="#BulkOperationsPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#BulkOperationsPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAValidationFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetTransactionBulkOperationSpatial">
            <input>
                <wsp:PolicyReference URI="#BulkOperationsPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#BulkOperationsPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="SaveTransactionBulkOperationSpatial">
            <input>
                <wsp:PolicyReference URI="#BulkOperationsPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#BulkOperationsPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAValidationFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="SaveTransactionBulkOperationSource">
            <input>
                <wsp:PolicyReference URI="#BulkOperationsPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#BulkOperationsPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAValidationFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
    </binding>
    <service name="bulkoperations-service">
        <port name="BulkOperationsPort" binding="tns:BulkOperationsPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="BulkOperationsPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="false"/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedSupportingTokens>
               <sc:KeyStore wspp:visibility="private" location="${wsit.keystore.location}" type="JKS" storepass="${wsit.keystore.storepass}" alias="${wsit.keystore.peeralias}"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BulkOperationsPortBinding_CheckConnection_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="CreateSequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BulkOperationsPortBinding_CheckConnection_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="CreateSequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
