sola-application/glassfish/glassfish/domains/domain1/applications/sola-services-ear/sola-web-services_war/WEB-INF/classes/META-INF/wsit-org.sola.services.boundary.ws.Admin.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="admin-service" targetNamespace="http%3A%2F%2Fwebservices.sola.org%2Fadmin" xmlns:tns="http%3A%2F%2Fwebservices.sola.org%2Fadmin" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1="http://www.w3.org/ns/ws-policy" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="CheckConnection"/>
    <message name="CheckConnectionResponse"/>
    <message name="GetLanguages"/>
    <message name="GetLanguagesResponse"/>
    <message name="SOLAFault"/>
    <message name="UnhandledFault"/>
    <message name="GetGroups"/>
    <message name="GetGroupsResponse"/>
    <message name="SOLAAccessFault"/>
    <message name="GetGroupsSummary"/>
    <message name="GetGroupsSummaryResponse"/>
    <message name="GetCurrentUser"/>
    <message name="GetCurrentUserResponse"/>
    <message name="GetUser"/>
    <message name="GetUserResponse"/>
    <message name="SaveUser"/>
    <message name="SaveUserResponse"/>
    <message name="OptimisticLockingFault"/>
    <message name="GetGroup"/>
    <message name="GetGroupResponse"/>
    <message name="SaveGroup"/>
    <message name="SaveGroupResponse"/>
    <message name="GetRoles"/>
    <message name="GetRolesResponse"/>
    <message name="GetCurrentUserRoles"/>
    <message name="GetCurrentUserRolesResponse"/>
    <message name="SaveRole"/>
    <message name="SaveRoleResponse"/>
    <message name="ChangePassword"/>
    <message name="ChangePasswordResponse"/>
    <message name="IsUserAdmin"/>
    <message name="IsUserAdminResponse"/>
    <message name="GetBr"/>
    <message name="GetBrResponse"/>
    <message name="SaveBr"/>
    <message name="SaveBrResponse"/>
    <message name="SOLAValidationFault"/>
    <message name="GetAllSettings"/>
    <message name="GetAllSettingsResponse"/>
    <message name="GetSetting"/>
    <message name="GetSettingResponse"/>
    <message name="ConsolidationExtract"/>
    <message name="ConsolidationExtractResponse"/>
    <message name="ConsolidationConsolidate"/>
    <message name="ConsolidationConsolidateResponse"/>
    <portType name="Admin">
        <operation name="CheckConnection">
            <input message="tns:CheckConnection"/>
            <output message="tns:CheckConnectionResponse"/>
        </operation>
        <operation name="GetLanguages">
            <input message="tns:GetLanguages"/>
            <output message="tns:GetLanguagesResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetGroups">
            <input message="tns:GetGroups"/>
            <output message="tns:GetGroupsResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetGroupsSummary">
            <input message="tns:GetGroupsSummary"/>
            <output message="tns:GetGroupsSummaryResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetCurrentUser">
            <input message="tns:GetCurrentUser"/>
            <output message="tns:GetCurrentUserResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetUser">
            <input message="tns:GetUser"/>
            <output message="tns:GetUserResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="SaveUser">
            <input message="tns:SaveUser"/>
            <output message="tns:SaveUserResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetGroup">
            <input message="tns:GetGroup"/>
            <output message="tns:GetGroupResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="SaveGroup">
            <input message="tns:SaveGroup"/>
            <output message="tns:SaveGroupResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetRoles">
            <input message="tns:GetRoles"/>
            <output message="tns:GetRolesResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetCurrentUserRoles">
            <input message="tns:GetCurrentUserRoles"/>
            <output message="tns:GetCurrentUserRolesResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="SaveRole">
            <input message="tns:SaveRole"/>
            <output message="tns:SaveRoleResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
        </operation>
        <operation name="ChangePassword">
            <input message="tns:ChangePassword"/>
            <output message="tns:ChangePasswordResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
        </operation>
        <operation name="IsUserAdmin">
            <input message="tns:IsUserAdmin"/>
            <output message="tns:IsUserAdminResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetBr">
            <input message="tns:GetBr"/>
            <output message="tns:GetBrResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="SaveBr">
            <input message="tns:SaveBr"/>
            <output message="tns:SaveBrResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAValidationFault" message="tns:SOLAValidationFault"/>
        </operation>
        <operation name="GetAllSettings">
            <input message="tns:GetAllSettings"/>
            <output message="tns:GetAllSettingsResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetSetting">
            <input message="tns:GetSetting"/>
            <output message="tns:GetSettingResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="ConsolidationExtract">
            <input message="tns:ConsolidationExtract"/>
            <output message="tns:ConsolidationExtractResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="ConsolidationConsolidate">
            <input message="tns:ConsolidationConsolidate"/>
            <output message="tns:ConsolidationConsolidateResponse"/>
            <fault name="SOLAValidationFault" message="tns:SOLAValidationFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
    </portType>
    <binding name="AdminPortBinding" type="tns:Admin">
        <wsp:PolicyReference URI="#AdminPortBindingPolicy"/>
        <operation name="CheckConnection">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetLanguages">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetGroups">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetGroupsSummary">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetCurrentUser">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetUser">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="SaveUser">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetGroup">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="SaveGroup">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetRoles">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetCurrentUserRoles">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="SaveRole">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="OptimisticLockingFault"/>
        </operation>
        <operation name="ChangePassword">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="OptimisticLockingFault"/>
        </operation>
        <operation name="IsUserAdmin">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetBr">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="SaveBr">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAValidationFault"/>
        </operation>
        <operation name="GetAllSettings">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetSetting">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="ConsolidationExtract">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="ConsolidationConsolidate">
            <input>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdminPortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAValidationFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
    </binding>
    <service name="admin-service">
        <port name="AdminPort" binding="tns:AdminPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="AdminPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="false"/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedSupportingTokens>
                <sc:KeyStore wspp:visibility="private" location="${wsit.keystore.location}" type="JKS" storepass="${wsit.keystore.storepass}" alias="${wsit.keystore.peeralias}"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AdminPortBinding_CheckConnection_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="CreateSequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AdminPortBinding_CheckConnection_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="CreateSequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
