sola-application/glassfish/glassfish/domains/domain1/applications/sola-services-ear/sola-web-services_war/WEB-INF/classes/META-INF/wsit-org.sola.services.boundary.ws.Administrative.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="administrative-service" targetNamespace="http%3A%2F%2Fwebservices.sola.org%2Fadministrative" xmlns:tns="http%3A%2F%2Fwebservices.sola.org%2Fadministrative" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1="http://www.w3.org/ns/ws-policy" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="CheckConnection"/>
    <message name="CheckConnectionResponse"/>
    <message name="CreateBaUnit"/>
    <message name="CreateBaUnitResponse"/>
    <message name="SOLAFault"/>
    <message name="UnhandledFault"/>
    <message name="SOLAAccessFault"/>
    <message name="OptimisticLockingFault"/>
    <message name="SaveBaUnit"/>
    <message name="SaveBaUnitResponse"/>
    <message name="TerminateBaUnit"/>
    <message name="TerminateBaUnitResponse"/>
    <message name="SOLAValidationFault"/>
    <message name="CancelBaUnitTermination"/>
    <message name="CancelBaUnitTerminationResponse"/>
    <message name="GetBaUnitById"/>
    <message name="GetBaUnitByIdResponse"/>
    <message name="GetBaUnitsByServiceId"/>
    <message name="GetBaUnitsByServiceIdResponse"/>
    <message name="GetBaUnitByCode"/>
    <message name="GetBaUnitByCodeResponse"/>
    <message name="GetBaUnitAreas"/>
    <message name="GetBaUnitAreasResponse"/>
    <message name="CreateBaUnitArea"/>
    <message name="CreateBaUnitAreaResponse"/>
    <message name="GetBaUnitWithCadObject"/>
    <message name="GetBaUnitWithCadObjectResponse"/>
    <message name="GetSysRegPubDisParcelNameByLocation"/>
    <message name="GetSysRegPubDisParcelNameByLocationResponse"/>
    <message name="GetSysRegPubDisOwnerNameByLocation"/>
    <message name="GetSysRegPubDisOwnerNameByLocationResponse"/>
    <message name="GetSysRegPubDisStateLandByLocation"/>
    <message name="GetSysRegPubDisStateLandByLocationResponse"/>
    <message name="PublicDisplay"/>
    <message name="PublicDisplayResponse"/>
    <message name="GetSysRegManagement"/>
    <message name="GetSysRegManagementResponse"/>
    <message name="GetSysRegStatus"/>
    <message name="GetSysRegStatusResponse"/>
    <message name="GetSysRegProgress"/>
    <message name="GetSysRegProgressResponse"/>
    <portType name="Administrative">
        <operation name="CheckConnection">
            <input message="tns:CheckConnection"/>
            <output message="tns:CheckConnectionResponse"/>
        </operation>
        <operation name="CreateBaUnit">
            <input message="tns:CreateBaUnit"/>
            <output message="tns:CreateBaUnitResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
        </operation>
        <operation name="SaveBaUnit">
            <input message="tns:SaveBaUnit"/>
            <output message="tns:SaveBaUnitResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
        </operation>
        <operation name="TerminateBaUnit">
            <input message="tns:TerminateBaUnit"/>
            <output message="tns:TerminateBaUnitResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAValidationFault" message="tns:SOLAValidationFault"/>
        </operation>
        <operation name="CancelBaUnitTermination">
            <input message="tns:CancelBaUnitTermination"/>
            <output message="tns:CancelBaUnitTerminationResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAValidationFault" message="tns:SOLAValidationFault"/>
        </operation>
        <operation name="GetBaUnitById">
            <input message="tns:GetBaUnitById"/>
            <output message="tns:GetBaUnitByIdResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetBaUnitsByServiceId">
            <input message="tns:GetBaUnitsByServiceId"/>
            <output message="tns:GetBaUnitsByServiceIdResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetBaUnitByCode">
            <input message="tns:GetBaUnitByCode"/>
            <output message="tns:GetBaUnitByCodeResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetBaUnitAreas">
            <input message="tns:GetBaUnitAreas"/>
            <output message="tns:GetBaUnitAreasResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="CreateBaUnitArea">
            <input message="tns:CreateBaUnitArea"/>
            <output message="tns:CreateBaUnitAreaResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
        </operation>
        <operation name="GetBaUnitWithCadObject">
            <input message="tns:GetBaUnitWithCadObject"/>
            <output message="tns:GetBaUnitWithCadObjectResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetSysRegPubDisParcelNameByLocation">
            <input message="tns:GetSysRegPubDisParcelNameByLocation"/>
            <output message="tns:GetSysRegPubDisParcelNameByLocationResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="SOLAValidationFault" message="tns:SOLAValidationFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
        </operation>
        <operation name="GetSysRegPubDisOwnerNameByLocation">
            <input message="tns:GetSysRegPubDisOwnerNameByLocation"/>
            <output message="tns:GetSysRegPubDisOwnerNameByLocationResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="SOLAValidationFault" message="tns:SOLAValidationFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
        </operation>
        <operation name="GetSysRegPubDisStateLandByLocation">
            <input message="tns:GetSysRegPubDisStateLandByLocation"/>
            <output message="tns:GetSysRegPubDisStateLandByLocationResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="SOLAValidationFault" message="tns:SOLAValidationFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
        </operation>
        <operation name="PublicDisplay">
            <input message="tns:PublicDisplay"/>
            <output message="tns:PublicDisplayResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
            <fault name="SOLAValidationFault" message="tns:SOLAValidationFault"/>
        </operation>
        <operation name="GetSysRegManagement">
            <input message="tns:GetSysRegManagement"/>
            <output message="tns:GetSysRegManagementResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetSysRegStatus">
            <input message="tns:GetSysRegStatus"/>
            <output message="tns:GetSysRegStatusResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
        <operation name="GetSysRegProgress">
            <input message="tns:GetSysRegProgress"/>
            <output message="tns:GetSysRegProgressResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="SOLAAccessFault" message="tns:SOLAAccessFault"/>
        </operation>
    </portType>
    <binding name="AdministrativePortBinding" type="tns:Administrative">
        <wsp:PolicyReference URI="#AdministrativePortBindingPolicy"/>
        <operation name="CheckConnection">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
        </operation>
        <operation name="CreateBaUnit">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="OptimisticLockingFault"/>
        </operation>
        <operation name="SaveBaUnit">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="OptimisticLockingFault"/>
        </operation>
        <operation name="TerminateBaUnit">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAValidationFault"/>
        </operation>
        <operation name="CancelBaUnitTermination">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAValidationFault"/>
        </operation>
        <operation name="GetBaUnitById">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetBaUnitsByServiceId">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetBaUnitByCode">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetBaUnitAreas">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="CreateBaUnitArea">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="OptimisticLockingFault"/>
        </operation>
        <operation name="GetBaUnitWithCadObject">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetSysRegPubDisParcelNameByLocation">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="SOLAValidationFault"/>
            <fault name="OptimisticLockingFault"/>
        </operation>
        <operation name="GetSysRegPubDisOwnerNameByLocation">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="SOLAValidationFault"/>
            <fault name="OptimisticLockingFault"/>
        </operation>
        <operation name="GetSysRegPubDisStateLandByLocation">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="SOLAValidationFault"/>
            <fault name="OptimisticLockingFault"/>
        </operation>
        <operation name="PublicDisplay">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
            <fault name="OptimisticLockingFault"/>
            <fault name="SOLAValidationFault"/>
        </operation>
        <operation name="GetSysRegManagement">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetSysRegStatus">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
        <operation name="GetSysRegProgress">
            <input>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AdministrativePortBinding_CheckConnection_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="SOLAAccessFault"/>
        </operation>
    </binding>
    <service name="administrative-service">
        <port name="AdministrativePort" binding="tns:AdministrativePortBinding"/>
    </service>
    <wsp:Policy wsu:Id="AdministrativePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="false"/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedSupportingTokens>
               <sc:KeyStore wspp:visibility="private" location="${wsit.keystore.location}" type="JKS" storepass="${wsit.keystore.storepass}" alias="${wsit.keystore.peeralias}"/>
             </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AdministrativePortBinding_CheckConnection_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="CreateSequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AdministrativePortBinding_CheckConnection_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="CreateSequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
